.env
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.ruff_cache/
.pytest_cache/
dist/
*.egg-info/
node_modules/
.next/
.venv/
venv/
*.log
.DS_Store
.idea/  
.vscode/
/deploy/
/inputs/
/.venv/
.env.*
node_modules/
src/mednexus/functions
/host.json


